body {
    background: #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, input {
    color: rgb(65, 65, 65);
}

.User {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 10px solid burlywood;
    margin: 20px 0;
    box-sizing: border-box;

}

.User__title {
    font-weight: 900;
    font-size: 2rem;
}